<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>USA</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
	<link href="https://fonts.googleapis.com/css?family=Playfair+Display:700|Sintony:400,700" rel="stylesheet">
	<link rel="stylesheet" href="css/style.css">
</head>
<body>

	<header id="header" class="header">
		<div class="main-header">
			<div class="container">
				<div class="row">
					<div class="col-lg-3">
					
						<!-- <img src="https://img.icons8.com/cotton/64/000000/taxi-service.png"/> -->
						<!-- <img src="https://img.icons8.com/cotton/64/000000/carry-on-luggage.png"/> -->
						<!-- <img src="https://img.icons8.com/dusk/64/000000/no-baggage.png"/> -->
						<img src="https://img.icons8.com/dusk/64/000000/baggage-weight.png"/>
					</div>
					<div class="col-lg-6">
						<nav>
							<ul class="menu d-flex justify-content-between">
								<li class="menu__item">
									<a href="index.html">
										Соедененные Штаты Америки
						</a>
								</li>
								<li class="menu__item">
									<a href="german.html">
										Германия
									</a>
								</li>
								<li class="menu__item">
									<a href="uk.html">
										Великобритания
										
									</a>
								</li>
								<!-- <li class="menu__item">
									<a href="#">
										recipe
									</a>
								</li>
								<li class="menu__item">
									<a href="#">
										blog
									</a>
								</li>
								<li class="menu__item">
									<a href="#">
										Pages
									</a>
								</li>
								<li class="menu__item">
									<a href="#">
										contact
									</a>
								</li> -->
							</ul>
						</nav>
					</div>
					<!-- <div class="col-lg-3">
						<button class="book cta d-flex justify-content-center">
							<span class="book__icon"></span>
							Book your table
						</button>
					</div> -->
				</div>
			</div>
		</div>
		<div class="offer">
			<div class="container">
				<div class="row">
					<div class="col-lg-12">
						<div class="title">
							<h1 class="title__heading">
								Федеративная Республика Германия 
							</h1>
						<!-- 	<p class="title__desc">
								from 
								<span>
									luxury restaurent.
								</span>
							</p> -->
						</div>
					</div>
				</div>
			</div>
		</div>
	</header>

	<section id="call" class="call">
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
<!-- 
					<div class="phone d-flex ml-auto mr-auto">
						<div class="phone__text">
							
							<span>
							Самый важный факт современной истории - то, что Северная Америка говорит по-английски.

							</span>
						
						</div> -->
						
					</div>

				</div>
			</div>
		</div>
	</section>

	<section id="about" class="about">
		<div class="container">
			<div class="row">
				<div class="col-lg-6">
					<div class="history">
					
					<h2 class="history__title">
							О Германии
						</h2>
						
							<p class="history__text"><strong>Официальное название</strong> - Федеративная Республика Германи</p>
							<p class="history__text"><strong>Территория</strong> -‎ 248 577 км2  </p>
							<p class="history__text"><strong>Население</strong> - 83,02 миллиона человек. 
							</p>
							<p class="history__text"><strong>Этнический состав</strong>-Преобладают турки (свыше 1 млн.), югославы, итальянцы, греки, испанцы. Германия сильно урбанизированная страна. На территории бывшей ФРГ около 90% населения живет в городах и агломерациях. </p>
							<p class="history__text"><strong>Языки</strong>
								-Официальным литературным языком и языком делопроизводства в Германии является немецкий язык (на нём говорит более 95 % населения). Так же население использует нижне-, средне- и верхненемецкие диалекты 10 основных и более 50 локальных, на которых говорят также жители приграничных районов соседних государств.  К признанным языкам национальных меньшинств относятся датский, фризский и лужицкий, а также в качестве регионального языка — нижнесаксонский (нижненемецкий) язык, который с 1994 года признан ЕС.
							</p>
							<p class="history__text"><strong>Религия</strong>- Большинство немцев — христиане, составляющие 64 % населения страны.Римско-католическая церковь в Германии-30,97 %, </p>
							<p class="history__text"><strong>Столица</strong> - Берлин. Крупнейшие города - Гамбург(1 787 408) Мюнхен (1 450 381), Кёльн (849 451), Штутгарт (623 738), 
							 Дюссельдорф (612 178), Дортмунд (586 181).</p>
							<p class="history__text"> <strong>Административное деление</strong> - из 16 земель, из которых 13 являются «государствами-областями </p>
							<p class="history__text"><strong>Форма правления</strong> -парламентская республика
							. </p>
							<p class="history__text"><strong>Глава государства и правительства</strong> 
							-Канцлер-Ангела Меркель.Президент-Франк-Вальтер Штайнмайер </p>
							<p class="history__text"><strong>Валюта</strong> - Евро. </p>
							<p class="history__text"><strong>Время</strong>
							-Разница во времени составляет -2 часа зимой и -1 час летом в пользу Берлина. Время перелёта из Москвы в Берлин — всего два с половиной часа. </p>
							<a href="germany.html"><input type = "button" class = "knopka01" value = "База"></a>
				</div>
			</div>
				<div class="col-lg-3">
					<div class="food-images food-images-down">
						<!-- <img src="img/r1.jpg"  class="food-images__item">
						<img src="img/r2.jpg"  class="food-images__item"> -->
					</div>
				</div>
				<div class="col-lg-3">
					<div class="food-images">
						<img src="img/098.png"  class="food-images__item">
						<!-- <img src="img/r4.jpg"  class="food-images__item">
 -->					</div>
				</div>
			</div>
		</div>
	</section>

	<section id="special" class="special">
		<div class="container">

			<div class="row">
				<div class="col-lg-12">
					<h2 class="special-title">
						 Мои 2 самых любимых города в Германии
					</h2>
				</div>
			</div>

			<div class="row">
				<div class="col-lg-6">
					<div class="food">
						<img src="img/p9.jpg" alt="Dish 1" class="food__img img-fluid">

						<h3 class="food__title">
							Дрезден
						</h3>
						<p class="food__desc">

							Дрезден – столица восточногерманской земли Саксония с художественными музеями и классической архитектурой реконструированного старого города. Одна из основных достопримечательностей – барочная церковь Фрауэнкирхе с величественным куполом. Она была возведена в 1743 году. На территории архитектурного комплекса Цвингер расположено несколько музеев, в том числе Галерея старых мастеров. 
						</p>
						<div class="food__details d-flex">
							<div class="food__del">
								Билет
								<span>
									Заказать
								</span>
							</div>
							<div class="food__phone">
								1-008 005 006
							</div>
							<div class="food__price yellow ml-auto">
								<sup><small>$</small></sup>
								89.00
							</div>
						</div>
					</div>
				</div>
				<div class="col-lg-6">
					<div class="food">
						<img src="img/berlin12.jpg" alt="Dish 1" class="food__img img-fluid">
						
						<h3 class="food__title">
							Берлин
						</h3>
						<p class="food__desc">
							Удивительно быстрый и динамичный Берлин может заслуженно считаться одним из интереснейших мест на туристической карте Европы. Сегодня столица Германии – крупный мегаполис, по числу жителей приближающийся к 3,5 миллионам человек, важнейший экономический и культурный центр Евросоюза. При этом Берлин не перестает быть одним из самых приветливых и уютных уголков Европы.
						</p>
						<div class="food__details d-flex">
							<div class="food__del">
								Билет
								<span>
									Заказать
								</span>
							</div>
							<div class="food__phone">
								1-008 005 006
							</div>
							<div class="food__price yellow ml-auto">
								<sup><small>$</small></sup>
								89.00
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>

	<footer id="footer" class="footer">
		<div class="container">
			<div class="row">
			<!-- 	<div class="col-lg-12">
					<ul class="socials d-flex justify-content-center">
						<li class="socials__item socials__item_fb">
							<a href="#"></a>
						</li>
						<li class="socials__item socials__item_tw">
							<a href="#"></a>
						</li>
						<li class="socials__item socials__item_g">
							<a href="#"></a>
						</li>
					</ul>
				</div> -->
				<!-- <p>Соедененные Штаты Америки</p> -->

			</div>
			<div class="row">
				<div class="col-lg-4">
					<div class="line"></div>
				</div>
				<div class="col-lg-4">
					<div class="credits">
						2020 ©  website by Angelina
					</div>
				</div>
				<div class="col-lg-4">
					<div class="line"></div>
				</div>
			</div>
		</div>
	</footer>
	
	<div id="modal" class="modal2">
		<div class="modal2__overlay">
			<div class="modal2__body">
				Текст в окошке
			</div>
		</div>
	</div>

	<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
	<script src="js/main.js"></script>
</body>
</html>