<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>USA</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
	<link href="https://fonts.googleapis.com/css?family=Playfair+Display:700|Sintony:400,700" rel="stylesheet">
	<link rel="stylesheet" href="css/main.css">
	    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>

	<header id="header" class="header">
		<div class="main-header">
			<div class="container">
				<div class="row">
					<div class="col-lg-3">
					
						<!-- <img src="https://img.icons8.com/cotton/64/000000/taxi-service.png"/> -->
						<!-- <img src="https://img.icons8.com/cotton/64/000000/carry-on-luggage.png"/> -->
						<!-- <img src="https://img.icons8.com/dusk/64/000000/no-baggage.png"/> -->
						<img src="https://img.icons8.com/dusk/64/000000/baggage-weight.png"/>
					</div>
					<div class="col-lg-6">
						<nav>
							<ul class="menu d-flex justify-content-between">
								<li class="menu__item">
									<a href="index.html">
										Соедененные Штаты Америки
									</a>
								</li>
								<li class="menu__item">
									<a href="german.html">
										Германия
									</a>
								</li>
								<li class="menu__item">
									<a href="uk.html">
										Великобритания
										
									</a>
								</li>
								<!-- <li class="menu__item">
									<a href="#">
										recipe
									</a>
								</li>
								<li class="menu__item">
									<a href="#">
										blog
									</a>
								</li>
								<li class="menu__item">
									<a href="#">
										Pages
									</a>
								</li>
								<li class="menu__item">
									<a href="#">
										contact
									</a>
								</li> -->
							</ul>
						</nav>
					</div>
					<!-- <div class="col-lg-3">
						<button class="book cta d-flex justify-content-center">
							<span class="book__icon"></span>
							Book your table
						</button>
					</div> -->
				</div>
			</div>
		</div>
		<div class="offer">
			<div class="container">
				<div class="row">
					<div class="col-lg-12">
						<div class="title">
							<h1 class="title__heading">
								Соедененные Штаты Америки
							</h1>
						<!-- 	<p class="title__desc">
								from 
								<span>
									luxury restaurent.
								</span>
							</p> -->
						</div>
					</div>
				</div>
			</div>
		</div>
	</header>

	<section id="call" class="call">
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
<!-- 
					<div class="phone d-flex ml-auto mr-auto">
						<div class="phone__text">
							
							<span>
							Самый важный факт современной истории - то, что Северная Америка говорит по-английски.

							</span>
						
						</div> -->
						
					</div>

				</div>
			</div>
		</div>
	</section>

	<section id="about" class="about">
		<div class="container">
			<div class="row">
				<div class="col-lg-6">
					<div class="history">
					
						
						<h2 class="history__title">
							О США
						</h2>
						
							<p class="history__text"><strong>Официальное название</strong> - Соединенные Штаты Америки.</p>
							<p class="history__text"><strong>Территория</strong> - 9 629 091 кв.км. </p>
							<p class="history__text"><strong>Население</strong> - 321 млн. человек. 
							</p>
							<p class="history__text"><strong>Этнический состав</strong>: США - очень многонациональная страна с большим 
							количеством национальностей, многие из которых сохранили свой язык и 
							традициии. Если подразделить население на группы по расовым признакам, 
							то белые составляют - 83,4% (среди них можно выделить диаспоры 
							ирландцев, итальянцев, евреев, русских, поляков, украинцев), африканцы -
							 12,4%, азиаты и жители тихоокеанских островов - 3,3%, американские 
							индейцы - менее 1%. </p>
							<p class="history__text"><strong>Языки</strong>: английский (государственный), около 32 мил. 
							жителей США пользуются вторым языком, самыми популярными из которых 
							являются - испанский, китайский, русский, польский, корейский и др. 
							</p>
							<p class="history__text"><strong>Религия</strong> - протестанты (56%), католики (26%), иудеи (2%), буддисты, 
							индуисты и др. </p>
							<p class="history__text"><strong>Столица</strong> - Вашингтон. Крупнейшие города - Нью-Йорк (8,4 &nbsp;млн.), Лос-Анджелес (3,8 млн.), Чикаго (2,7 млн.), Хьюстон (2,3 млн.), 
							Филадельфия (1,5 млн.), Сан-Диего (1,4 млн.), Феникс (1,4 млн.), Даллас (1,2 &nbsp;млн.).</p>
							<p class="history__text"> <strong>Административное деление</strong> - 50 штатов и 1 округ. </p>
							<p class="history__text"><strong>Форма правления</strong> -
							 федеративная республика. </p>
							<p class="history__text"><strong>Глава государства и правительства</strong> - президент 
							Барак Хусейн Обама (с 2009 года), вице-президент Джозеф Робинетт Байден. 
							Избираются сроком на 4 года коллегией выборщиков, которые избираются 
							населением штатов. Парламент - двухпалатный Конгресс, состоит из Сената 
							(100 мест, избираются населением сроком на 6 лет по 2 сенатора от 
							каждого штата) и Палаты Представителей (435 мест, избираются населением 
							сроком на 2 года). </p>
							<p class="history__text"><strong>Валюта</strong> - американский доллар. </p>
							<p class="history__text"><strong>Время</strong> - московское 
							минус 8 часов (Вашингтон), минус 11 часов (Лос-Анджелес). </p>
							<!-- <p class="history__text"><strong>Электричество</strong> -
							 120 В, 60 Гц, вилки с двумя плоскими штырьками или двумя плоскими и 
							одним круглым штырьком.</p>
							<p class="history__text">Все учебные заведения, в которых вы можете получить образование в США на английском языке даны <a href="/country/usa.html">здесь &gt;&gt;</a></p> -->
						
						<a href="strany1.html"><input type = "button" class = "knopka01" value = "База"></a>
					</div>
				</div>
				<div class="col-lg-3">
					<div class="food-images food-images-down">
						<!-- <img src="img/r1.jpg"  class="food-images__item">
						<img src="img/r2.jpg"  class="food-images__item"> -->
					</div>
				</div>
				<div class="col-lg-3">
					<div class="food-images">
						<img src="img/r9.jpg"  class="food-images__item">
						<!-- <img src="img/r4.jpg"  class="food-images__item">
 -->					</div>
				</div>
			</div>
		</div>
	</section>

	<section id="special" class="special">
		<div class="container">

			<div class="row">
				<div class="col-lg-12">
					<h2 class="special-title">
						 Мои 2 самых любимых городов в США
					</h2>
				</div>
			</div>

			<div class="row">
				<div class="col-lg-6">
					<div class="food">
						<img src="img/z1.jpg" alt="Dish 1" class="food__img img-fluid">

						<h3 class="food__title">
							Лос-Анджелес
						</h3>
						<p class="food__desc">

							Лос-Анджелес – город в США, административный центр одноименного округа и крупной агломерации, на территории которой проживает более 17 млн человек. Город находится в южной части штата Калифорния, на западе имеет выход к Тихому океану, а с других сторон окружен пустыней и горами. Численность населения Лос-Анджелеса составляет 3,8 миллионов жителей, площадь города - 1302 кв км.
						</p>
						<div class="food__details d-flex">
							<div class="food__del">
								Билет
								<span>
									Заказать
								</span>
							</div>
							<div class="food__phone">
								1-008 005 006
							</div>
							<div class="food__price yellow ml-auto">
								<sup><small>$</small></sup>
								89.00
							</div>
						</div>
					</div>
				</div>
				<div class="col-lg-6">
					<div class="food">
						<img src="img/q1.jpg" alt="Dish 1" class="food__img img-fluid">
						
						<h3 class="food__title">
							Нью-Йорк
						</h3>
						<p class="food__desc">
							Нью-Йорк – крупнейший мегаполис США, расположен на восточном побережье континента. В городе проживает свыше 8,3 миллионов человек. Это крупнейший финансовый, экономический и торговый центр планеты, часто его называют «столица мира». Здесь расположена штаб-квартира ООН, знаменитая Нью-Йоркская фондовая биржа и другие организации мирового значения.
						</p>
						<div class="food__details d-flex">
							<div class="food__del">
								Билет
								<span>
									Заказать
								</span>
							</div>
							<div class="food__phone">
								1-008 005 006
							</div>
							<div class="food__price yellow ml-auto">
								<sup><small>$</small></sup>
								89.00
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>

	<footer id="footer" class="footer">
		<div class="container">
			<div class="row">
			<!-- 	<div class="col-lg-12">
					<ul class="socials d-flex justify-content-center">
						<li class="socials__item socials__item_fb">
							<a href="#"></a>
						</li>
						<li class="socials__item socials__item_tw">
							<a href="#"></a>
						</li>
						<li class="socials__item socials__item_g">
							<a href="#"></a>
						</li>
					</ul>
				</div> -->
				<!-- <p>Соедененные Штаты Америки</p> -->

			</div>
			<div class="row">
				<div class="col-lg-4">
					<div class="line"></div>
				</div>
				<div class="col-lg-4">
					<div class="credits">
						2020 ©  website by Angelina
					</div>
				</div>
				<div class="col-lg-4">
					<div class="line"></div>
				</div>
			</div>
		</div>
	</footer>
	
	<div id="modal" class="modal2">
		<div class="modal2__overlay">
			<div class="modal2__body">
				Текст в окошке
			</div>
		</div>
	</div>

	<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
	<script src="js/main.js"></script>
</body>
</html>