<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>USA</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
	<link href="https://fonts.googleapis.com/css?family=Playfair+Display:700|Sintony:400,700" rel="stylesheet">
	<link rel="stylesheet" href="css/uk.css">
</head>
<body>

	<header id="header" class="header">
		<div class="main-header">
			<div class="container">
				<div class="row">
					<div class="col-lg-3">
					
						<!-- <img src="https://img.icons8.com/cotton/64/000000/taxi-service.png"/> -->
						<!-- <img src="https://img.icons8.com/cotton/64/000000/carry-on-luggage.png"/> -->
						<!-- <img src="https://img.icons8.com/dusk/64/000000/no-baggage.png"/> -->
						<img src="https://img.icons8.com/dusk/64/000000/baggage-weight.png"/>
					</div>
					<div class="col-lg-6">
						<nav>
							<ul class="menu d-flex justify-content-between">
								<li class="menu__item">
									<a href="index.html">
										Соедененные Штаты Америки
						</a>
								</li>
								<li class="menu__item">
									<a href="german.html">
										Германия
									</a>
								</li>
								<li class="menu__item">
									<a href="uk.html">
										Великобритания
										
									</a>
								</li>
								<!-- <li class="menu__item">
									<a href="#">
										recipe
									</a>
								</li>
								<li class="menu__item">
									<a href="#">
										blog
									</a>
								</li>
								<li class="menu__item">
									<a href="#">
										Pages
									</a>
								</li>
								<li class="menu__item">
									<a href="#">
										contact
									</a>
								</li> -->
							</ul>
						</nav>
					</div>
					<!-- <div class="col-lg-3">
						<button class="book cta d-flex justify-content-center">
							<span class="book__icon"></span>
							Book your table
						</button>
					</div> -->
				</div>
			</div>
		</div>
		<div class="offer">
			<div class="container">
				<div class="row">
					<div class="col-lg-12">
						<div class="title">
							<h1 class="title__heading">
								Соединенное Королевство Великобритании 
							</h1>
						<!-- 	<p class="title__desc">
								from 
								<span>
									luxury restaurent.
								</span>
							</p> -->
						</div>
					</div>
				</div>
			</div>
		</div>
	</header>

	<section id="call" class="call">
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
<!-- 
					<div class="phone d-flex ml-auto mr-auto">
						<div class="phone__text">
							
							<span>
							Самый важный факт современной истории - то, что Северная Америка говорит по-английски.

							</span>
						
						</div> -->
						
					</div>

				</div>
			</div>
		</div>
	</section>

	<section id="about" class="about">
		<div class="container">
			<div class="row">
				<div class="col-lg-6">
					<div class="history">
							<h2 class="history__title">
							О Великобритании
						</h2>
						
							<p class="history__text"><strong>Официальное название</strong> - Соединенное Королевство Великобритании и Северной Ирландии</p>
							<p class="history__text"><strong>Территория</strong> -‎ 243 809 км²  </p>
							<p class="history__text"><strong>Население</strong> - 66,65 миллиона человек. 
							</p>
							<p class="history__text"><strong>Плотность населения</strong>
							-Под общей площадью подразумевается площадь суши и площадь всех водных поверхностей государства в пределах международных границ. Плотность населения считается как отношение общей численности населения, проживающей на данной территории, к общей площади этой территории. Согласно нашим рассчётам на начало 2020 года население Великобритании составляло приблизительно 66 575 226 человек </p>
							<p class="history__text"><strong>Языки</strong>
								-Официальный язык-Английский.Языки меньшинств-Валлийский, Шотландский кельтский, Корнский, Ирландский
							</p>
							<p class="history__text"><strong>Религия</strong>-Каждый гражданин Великобритании имеет право исповедовать свою религию. Британия — это преимущественно христианская страна: 10 – 16% граждан принадлежат к Римской католической церкви, а 26 миллионов британцев являются прихожанами Англиканской церкви, которая официально имеет статус государственной религии Англии </p>
							<p class="history__text"><strong>Столица</strong> -Лондон. Крупнейшие города - Бирмингем(1 028 700) Манчестер (502 900), Ливерпуль (441 477), Эдинбург (482 005), 
							 Глазго  (598 830), Дублин (1,388 миллиона ).</p>
							<p class="history__text"> <strong>Административное деление</strong> -  Англия (9 регионов, 6 метрополитенских графств, 28 неметрополитенских графств, 55 унитарных единиц, Большой Лондон и острова Силли),
 						Уэльс (9 графств, 3 города, и 10 городов-графств),
 						Шотландия (32 округа),
					 Северная Ирландия (6 графств, 11 районов). </p>
							<p class="history__text"><strong>Форма правления</strong> -парламентская монархия
							. </p>
							<p class="history__text"><strong>Глава государства и правительства</strong> 
							Королева-Елизавета II.Премьер-министр-Борис Джонсон </p>
							<p class="history__text"><strong>Валюта</strong> - Фунт стерлинг. </p>
							<p class="history__text"><strong>Время</strong>
							-Лондон 01:00:05 - в г. Москва 03:00:05. </p>
							<!-- <p class="history__text"><strong>Электричество</strong> -
							 120 В, 60 Гц, вилки с двумя плоскими штырьками или двумя плоскими и 
							одним круглым штырьком.</p>
							<p class="history__text">Все учебные заведения, в которых вы можете получить образование в США на английском языке даны <a href="/country/usa.html">здесь &gt;&gt;</a></p> -->
						
						<a href="uk1.html"><input type = "button" class = "knopka01" value = "База"></a>
					</div>	
					</div>
				
				<div class="col-lg-3">
					<div class="food-images food-images-down">
						<!-- <img src="img/r1.jpg"  class="food-images__item">
						<img src="img/r2.jpg"  class="food-images__item"> -->
					</div>
				</div>
				<div class="col-lg-3">
					<div class="food-images">
						<img src="img/17.jpg"  class="food-images__item">
						<!-- <img src="img/r4.jpg"  class="food-images__item">
 -->					</div>
				</div>
			</div>
		</div>
	</section>

	<section id="special" class="special">
		<div class="container">

			<div class="row">
				<div class="col-lg-12">
					<h2 class="special-title">
						 Мои 2 самых любимых городов в Великобритании 
					</h2>
				</div>
			</div>

			<div class="row">
				<div class="col-lg-6">
					<div class="food">
						<img src="img/trt.jpg" alt="Dish 1" class="food__img img-fluid">

						<h3 class="food__title">
							Лондон
						</h3>
						<p class="food__desc">
							Лондон – столица Соединенного Королевства. История этого современного города уходит во времена римлян. В самом центре Лондона находится здание парламента – Вестминстерский дворец, а также знаменитая часовая башня Биг-Бен и Вестминстерское аббатство. Эта церковь является местом коронации монархов. На противоположном берегу Темзы расположено колесо обозрения, с которого открывается панорамный  на весь город.
						</p>
						<div class="food__details d-flex">
							<div class="food__del">
								Билет
								<span>
									Заказать
								</span>
							</div>
							<div class="food__phone">
								1-008 005 006
							</div>
							<div class="food__price yellow ml-auto">
								<sup><small>$</small></sup>
								89.00
							</div>
						</div>
					</div>
				</div>
				<div class="col-lg-6">
					<div class="food">
						<img src="img/12123456.jpg" alt="Dish 1" class="food__img img-fluid">
						
						<h3 class="food__title">
							Эдинбург
						</h3>
						<p class="food__desc">
							Эдинбург – столица Шотландии, расположенная на холмах и занимающая сравнительно небольшую площадь. Она состоит из средневекового Старого города и элегантного Нового города с садами и зданиями в неоклассическом стиле. Над городом возвышается Эдинбургский замок, где хранятся королевские драгоценности Шотландии и Скунский камень, на котором короновались правители страны. С вершины горы Трон Артура в парке Холируд открывается великолепный вид на город.
						</p>
						<div class="food__details d-flex">
							<div class="food__del">
								Билет
								<span>
									Заказать
								</span>
							</div>
							<div class="food__phone">
								1-008 005 006
							</div>
							<div class="food__price yellow ml-auto">
								<sup><small>$</small></sup>
								89.00
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>

	<footer id="footer" class="footer">
		<div class="container">
			<div class="row">
			<!-- 	<div class="col-lg-12">
					<ul class="socials d-flex justify-content-center">
						<li class="socials__item socials__item_fb">
							<a href="#"></a>
						</li>
						<li class="socials__item socials__item_tw">
							<a href="#"></a>
						</li>
						<li class="socials__item socials__item_g">
							<a href="#"></a>
						</li>
					</ul>
				</div> -->
				<!-- <p>Соедененные Штаты Америки</p> -->

			</div>
			<div class="row">
				<div class="col-lg-4">
					<div class="line"></div>
				</div>
				<div class="col-lg-4">
					<div class="credits">
						2020 ©  website by Angelina
					</div>
				</div>
				<div class="col-lg-4">
					<div class="line"></div>
				</div>
			</div>
		</div>
	</footer>
	
	<div id="modal" class="modal2">
		<div class="modal2__overlay">
			<div class="modal2__body">
				Текст в окошке
			</div>
		</div>
	</div>

	<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
	<script src="js/main.js"></script>
</body>
</html>