<HTML DIR=LTR>
<HEAD>
<META HTTP-EQUIV="Content-Type" CONTENT="text/html; charset=windows-1251">
<TITLE>Великобриатния</TITLE>
</HEAD>
<BODY>
<TABLE DIR=LTR BORDER>
<CAPTION>Великобриатния</CAPTION>
<TR>
<TD DIR=LTR ALIGN=LEFT>Великобриатния</TD>
<TD DIR=LTR ALIGN=LEFT> Европа</TD>
<TD DIR=LTR ALIGN=LEFT>242 495 км&sup2;</TD>
<TD DIR=LTR ALIGN=LEFT>1922 г</TD>
<TD DIR=LTR ALIGN=LEFT>Конституционная монархия</TD>
<TD DIR=LTR ALIGN=LEFT>английский</TD>
<TD DIR=LTR ALIGN=LEFT>66 273 576чел</TD>
<TD DIR=LTR ALIGN=LEFT>политика, наука и медицина, скотоводство, земледелие, экономика</TD>
<TD DIR=LTR ALIGN=LEFT>Лондон</TD>
<TD DIR=LTR ALIGN=LEFT>Лидс,Шеффилд,Манчестр,Ливерпуль</TD>
<TD DIR=LTR ALIGN=LEFT>2,855 триллиона USD</TD>
<TD DIR=LTR ALIGN=LEFT>ЕС</TD>
<TD DIR=LTR ALIGN=LEFT>Великобритания обладает сильными культурными связями со своими бывшими колониями, особенно с теми государствами, где английский язык является государственным. Так, некоторые английские музыкальные исполнители заметно повлияли на развитие музыки в мире (Beatles). Значительный вклад в британскую</TD>
<TD></TD>
</TR>
</TABLE>
</BODY>
</HTML>
